.ant-tabs-tab{
  &:hover{
    color: @color-main-yellow;
  }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: @color-main-yellow;
}

.ant-tabs-ink-bar{
  background: @color-main-yellow;
}

.ant-pagination-item{
  &:hover{
    border-color: @color-main-yellow-dark;
  }
}

.ant-pagination-item a{
  &:hover{
    color: @color-main-yellow-dark;
  }
}

.ant-pagination-item-active a{
  color: @color-main-yellow-dark;
}

.ant-pagination-item-active{
  border-color: @color-main-yellow-dark;
}
