.ant-tabs-tab{
  &:hover{
    color: @color-main-yellow;
  }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: @color-main-yellow;
}

.ant-tabs-ink-bar{
  background: @color-main-yellow;
}
