
.border-red{
    border: 1px solid red;
}

.app_layout{
    width: 100%;
    height: 100%;
}

.app_content{
    background-color: white;
    display: flex;
    flex-direction: column;
}

html{
    /* sets the base font to 10px for rem easier math： 100% == 16px => 62.5% == 10px;
     * https://webdesign.tutsplus.com/zh-hans/tutorials/comprehensive-guide-when-to-use-em-vs-rem--cms-23984
     */
    font-size: 62.5% !important;
}

body{
    font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
    background-color: #F4F1EF;

    /**
     * global default font-size: 14px;
     */
    font-size: 1.4rem;
}


/**
 * Primary Color system.
 */
@color-main-yellow:#fab04f;
@color-main-blue: #2167c0;
@color-main-green: #408c55;
@color-blue-1:#4e89a3;
@color-blue-2:#43658b;
@color-blue-3:#00b7c2;
@color-red-1:#ed6663;
@color-red-2:#b52b65;
@color-red-3:#f4545c;
@color-yellow-1:#f8bd7f;
@color-yellow-2:#ffa372;
@color-yellow-3:#e48532;
@color-green-1:#4f8a8b;
@color-green-2:#96bb7c;
@color-green-3:#78bf73;
@color-font-strong: #333333;
@color-font-normal: #666666;
@color-font-weak: #999999;
@color-board: #dcdfe6;
@color-board-1: #d9d9d9;
@color-bg: #ececec;
@color-board-2: #e4e7ed;


@color-board: #dcdfe6;
@color-bg: #F7F6F3;



.ml5{margin-left: 5px}
.ml10{margin-left: 10px}
.ml20{margin-left: 20px}
.ml30{margin-left: 30px}
.ml40{margin-left: 40px}

.mr5{margin-right: 5px}
.mr10{margin-right: 10px}
.mr20{margin-right: 20px}
.mr40{margin-right: 40px}

.mt5{margin-top: 5px}
.mt10{margin-top: 10px}
.mt20{margin-top: 20px}
.mt40{margin-top: 40px}

.mb5{margin-bottom: 5px}
.mb10{margin-bottom: 10px}
.mb20{margin-bottom: 20px}
.mb30{margin-bottom: 30px}
.mb40{margin-bottom: 40px}


.pt20{
   padding-top: 20px;
}

.padding20{
    padding: 20px;
}


.cursor-pointer{
    cursor: pointer;
}


.font-title{
    font-size: 1.4rem;
    color: #37352F;
}

.font-weak{
    font-size: 1.2rem;
    color: #37352F;
    opacity: .6;
}
