.change-email-dlg{

  position: relative;
  color: @color-font-normal;

  .header{
    border-bottom: 1px solid @color-board;
    padding-bottom: 10px;
  }

  .close{
    cursor: pointer;
    color: @color-font-weak;
    font-size: 14px;

    &:hover{
      color: @color-main-yellow-dark;
    }
  }

  label{
    color: @color-font-weak;
  }

  .action{
    font-size: 12px;
    color: @color-main-yellow-dark;
  }

  .sent-msg{
    font-size: 12px;
  }

}
