.eff-tasks{

}


.eff-task-group-header{
  .name{
    font-size: 20px;
    font-weight: bold;
    color: @color-font-normal;
    cursor: pointer;
  }

  .more{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: @color-font-weak;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }

  .add{
    color: @color-font-weak;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }

  .name-group{
    &:hover{
      .more, .add{
        display: inline-block;
      }
    }
  }
}



.eff-task-content{
  padding-left: 100px;
}


.eff-add-task-form{
  padding: 20px;

  .title{
    border-bottom: 1px solid @color-board;
    font-size: 16px;
    font-weight: 500;
    color: @color-font-strong;
  }

  label{
    color: @color-font-weak;
  }

  .btn-group{
    margin-left: 80px;
  }
}
