.funztion-select-item{
  height: 40px;
  cursor: pointer;
  &:hover{
    background-color: #F7F6F3;
  }

  .funz-main{
    font-size: 14px;
    color: @color-font-normal;
  }


}



.one-test-plan{
  height: 40px;
  cursor: pointer;

  .execute{
    color: @color-main-yellow-dark;
    font-size: 12px;
    //display: none;
    height: 40px;
    opacity: 0;

  }

  &:hover{
    background-color: #F7F6F3;
    .execute{
      opacity: 1;
      display: flex;
      align-items: center;
    }
  }

  .test-plan-main{
    font-size: 14px;
    color: @color-font-normal;
  }


}


.funztion-list{
  padding: 10px;
  &:hover{
    border: 1px solid #c9d8db;
  }
}

.test-plan-advance-search{
  width: 400px;
  //height: 300px;
  border: 1px solid @color-board;
  border-radius: 10px;
  background-color: white;
  align-self: flex-start;
  margin-top: 10px;
  z-index: 10;
  padding-top: 20px;


  .title{
    padding-left: 20px;
    color: @color-font-weak;
    border-bottom: 1px solid @color-board;
    padding-bottom: 10px;
  }

  .search-form{
    padding: 20px;
  }

  label{
    color: @color-font-weak;
  }
}

.execute-test-plan{
  .name{
    font-size: 14px;
    cursor: pointer;
    &:hover{
      .back{
        color: @color-main-yellow-dark;
      }
    }
  }
}



.one-plan-case{
  height: 40px;
  cursor: pointer;
  &:hover{
    background-color: #F7F6F3;
  }

  .test-case-main{
    font-size: 14px;
    color: @color-font-normal;
  }


}
