.elgo-home{
  background-color: #F7F6F3;
  min-height: 100%;

  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
  }




  .header{
    height: 60px;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;

    .menus{
      margin-left: 50px;
      color: @color-font-weak;

      .menu-item{
        cursor: pointer;
        margin-right: 20px;
      }
    }

    .active{
      color: @color-main-yellow-dark;
    }

    .signup{
      background-color: @color-font-normal;
      color: white;
    }

    .login{
      border: 1px solid @color-font-normal;
      color: @color-font-normal;
    }


  }



  .copyright{
    margin-top: 50px;
    margin-bottom: 50px;
    color: @color-font-weak;

    a{
      color: @color-font-weak;
    }
  }

}
